<header class="top-header">
  <div class="left-header">
    <div class="logo">
      <%= link_to 'flashcard', "#"%>
    </div>
  </div>
  <div class="right-header">
    <ul class="list">
      <%# <li> <%= link_to 'nickname', "#"%> </li>
      <%# <li> <%= link_to 'ログアウト', "#"%> </li> %> %>
      <li> <%= link_to 'ログイン', "#"%> </li>
      <li> <%= link_to '新規登録', "#"%> </li>
    </ul>
  </div>
</header>

<body>
  <div class="main">
    <%# 単語一覧 %>
    <div class="card-list">
      <h1>単語帳一覧</h1>
      <ul class="cards">
        <li class="contents"> <%= link_to 'HTML', "#"%></li>
        <li class="contents"> <%= link_to 'CSS', "#"%></li>
        <li class="contents"> <%= link_to 'Ruby', "#"%></li>
      </ul>
    </div>

    <%# 登録機能 %>
    <%=link_to '単語登録', "#"%>
  </div>
</body>