<header class="top-header">
  <div class="left-header">
    <div class="logo">
      <%= link_to 'flashcard', "#"%>
    </div>
  </div>
  <div class="right-header">
    <ul class="list">
      <li> <%= link_to 'nickname', "#"%> </li>
      <li> <%= link_to 'ログアウト', "#"%> </li>
      <li> <%= link_to 'ログイン', "#"%> </li>
      <li> <%= link_to '新規登録', "#"%> </li>
    </ul>
  </div>
</header>

<body>
  <div class="main">
    <%# 単語一覧 %>
    <div class="card-list">
      <h1>単語帳一覧</h1>
      <ul class="cards">
         <% @flashcards.each do |flashcards| %>
          <li><%= link_to flashcards.name, flashcard_words_path(flashcards.id), class: "content" %></li>
        <% end %>
      </ul>
    </div>

    <%# 登録機能 %>
    <div>
      <h2>単語帳登録</h2>
      <%= form_with model: @flashcard, url: flashcards_path, local: true do |f|%>
      <%= f.text_field :name, placeholder: "単語帳名"%>
      <%= f.submit "登録"%>
      <% end %>
    </div>
  </div>
</body>